<footer>
    <div id="copy">&copy; by Mallory</div>
    <div id="socialicon">
      <img class="social" src="img/code.svg" alt="codepen">
      <img class="social" src="img/git.svg" alt="github">
      <img class="social" src="img/linked.svg" alt="linkedin">
    </div>
    <div id= "footerFormDiv">
      <form id = "footerForm" action="/logger" method="post" enctype='multipart/form-data' autocomplete="on">
        <fieldset id = "footerFieldset">
          <legend id = "footerLegend">Connect With Me</legend>
          <label class = "footerLabel">Name:<span>*</span><br>
          <input class = "footerInput" type="text" name="name" placeholder="John Shepp"></label><br>
          <label class = "footerLabel">Email<span>*</span><br>
          <input class = "footerInput"type="email" name="email" placeholder="johnshepp@email.com" required></label><br>
          <input id="footerSubmit" type="submit" value="Connect">
        </fieldset>
      </form>
    </div>
  </footer>
</body>
</html>