<footer>
    <div id="copy">&copy; by Mallory</div>
    <div id="socialicon">
      <img class="social" src="img/code.svg" alt="codepen">
      <img class="social" src="img/git.svg" alt="github">
      <img class="social" src="img/linked.svg" alt="linkedin">
    </div>
  </footer>
<script src="header.js"></script>
</body>
</html>