<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/font.css">
  <link rel="stylesheet" href="<%= link %>">
</head>
<body>
  <header>
    <a href="index.html" id="logo"></a>
    <nav>
    <a href="#" id="menu-icon"></a>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="about"></a> >About</a></li>
        <li><a href="gallery"></a>>Gallery</a></li>
        <li><a href="contact"></a>>Contact</a></li>
      </ul>
    </nav>
  </header>
  